.st{
text-align: justify;
  display: flex;
  align-items: center;
  background-color: #d9dcd9d9;
  padding: 2px 4%;
  font-size: 20px;
  font-weight: 400;
}
.View_all{
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    z-index: 10;
    background-color: #0f287b;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
.Swiper_cont{
    display: flex;
    width: 95%;
    padding: 10px;
    margin:auto;
    align-items: center;
}
.swiper-button-next:after , .swiper-button-prev:after{
    color:black
}
.Swiper_cont > div >img{
    transition: 0.3s;
}
.Swiper_cont > div >img:hover{
    transform: scale(1.15);
}