.navbar_main{
    width:100%;
    position: fixed;
    top:0px;
    z-index: 40;
    margin: 0px;
    padding: 0px;
}
.navbar_upper{
    background-color:#f52a2a ;
    color: white;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f52a2a;
}
.logo>img{
    padding: 15px 0px;
    width:200px;
}
.navbar_upper > div>ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.navbar_upper ul li{
    padding: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -0.5px;
}
.navbar_upper ul li:hover{
    text-decoration: underline;
}
.navbar_input{
    font-size: 15px;
    font-weight: 300;
    width: 80%;
    height: 95%;
    padding-left: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: rgb(110, 106, 106);
}
.input_container{
    position: relative;
    left: 20px;
    width: 40%;
    height: 30px;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: white;
   
}
.cart_icon{
    width: 20px;
}
.search_icon{
    color: rgb(99, 86, 86);
    width: 100%;
}
.search_button{
    background-color: white;
    border: none;
    width:20px;
    cursor: pointer;
    margin-left: 25px;
}
.navbar_lower{
    background-color: #0f287b;
    width: 100%;
    display: flex;
    height: 100%;
    margin: 0px;
    justify-content: space-between;
    align-items: center; 
}
.navbar_links{
    display: flex;
    align-items: center;
    padding: 0px 5px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 13px;
}
.navbar_links:hover{
    background-color:#f52a2a;
   
}
.navbar_lower_dark{
    background-color: rgb(44, 45, 37);
    width: 100%;
    display: flex;
    height: 40px;
    margin: 0px;
    border:1px solid white;
    justify-content: space-around;
    align-items: center;
   
}
.vertical_Nav{
    display: none;
    transition: transform 0.3s ease-in-out;
}
.hamburger{
    /* border: 2px solid green; */
    z-index: 20;
    width:100px;
    height:50px;
    margin :0px ;
    padding: 0px;
    display: none;
}
.vertical_Nav ul{
    background-color: #3b5978;
    border-radius: 10px ;
    color: white;
    width: 150px;
    list-style: none;
    text-align: justify;
    align-items: center;
    padding: 20px;
    position: relative;
    top:118px; 
}
.vertical_Nav ul li{
    margin: 10px;
    letter-spacing: normal;
    padding: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: -1px;

}
.navbar{
    width: 100%;
    height: 55px;
    border-bottom: 2px solid #f1f1f1;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: #f52a2a;
    color: white;
}

@media (max-width:800px) {
    .hamburger{
        display: inline-block;
        position: absolute;
        right:10px ;
    }
    .search_button{
        margin-right: 15px;
    }
    .input_container{
        position: relative;
        right: -10px;
        width: 70%;
    }
    .navright_list{
        display: none;
    }
    .vertical_Nav{
        display: block;
    }
   
}
@media (max-width:500px) {
    .logo>img{
        width:150px
    }
    .input_container{
        width: 110%;
    }
}
@media (max-width:400px) {
    .logo>img{
        width:120px
    }
    .input_container{
        width: 300px;
    }
}
@media (max-width:350px) {
    .logo>img{
        width:90px
    }

    .hamburger{
        display: inline-block;
        position: absolute;
        right:5px ;
        width: 70px;
    }
    
}